<!DOCTYPE html>
{% extends 'base.html' %}
{% block favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('.static', filename='assets/favicons/sell_book/apple-touch-icon.png')}}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('.static',filename='assets/favicons/sell_book/favicon-32x32.png') }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('.static',filename='assets/favicons/sell_book/favicon-16x16.png') }}" />
<link rel="manifest" href="{{url_for('.static', filename='assets/favicons/sell_book/site.webmanifest')}}" />
{% endblock %}
{% block title %}
Sell Your Book!
{% endblock %}
{% block content %}
<!--- navbar starts ===================-->
<div class="container">
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="/views/addfaculty">Add Faculty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/addsub">Add Subject</a>
          </li>

          
        </ul>

      </div>
    </nav>
  </div>
  <!--- navbar ends ===================-->



<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="text-center bg-info p-2">Add a book</h2>
                {% from "_formhelpers.html" import render_field %}
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ render_field(form.name, class="form-control" ,placeholder="Add book name")}}
        
                    {{ render_field(form.price, type="number", step="0.01", class="form-control", placeholder="Add book price")}}

                    {{ render_field(form.stock, class="form-control" ,placeholder="Add book stock")}}
                    

                    <label for="faculty">Add a Faculty</label>
                    <select name="faculty" id="faculty" class="form-control" required>
                        <option value="">Select A faculty</option>
                            {% for faculty in faculties %}
                            <option value="{{faculty.id}}">{{faculty.name}}</option>
                            {% endfor %}
                    </select>

                    <label for="subject">Add a Subject</label>
                    <select name="subject" id="subject" class="form-control" required>
                        <option value="">Select a Subject</option>
                            {% for subject in subjects %}
                            <option value="{{subject.id}}">{{subject.name}}</option>
                            {% endfor %}
                    </select>

                    {{ render_field(form.discription, class="form-control" ,placeholder="Add book detail",rows="10")}}
                    {{ render_field(form.condition, class="form-control", placeholder="Add book condition", rows="3") }}

                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">{{ render_field(form.image,class="form-control")}}</div>
                        </div>
                    </div>
        

                <button type="submit" class="btn btn-outline-info mt-4">Add book</button>


                </form>
            </div>
            <div class="col-md-2"></div>
        
    </div>
</div>

{% endblock content %}