<!DOCTYPE html>
{% extends "base.html" %}
{% block favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('.static', filename='assets/favicons/add_stuff/apple-touch-icon.png')}}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('.static',filename='assets/favicons/add_stuff/favicon-32x32.png') }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('.static',filename='assets/favicons/add_stuff/favicon-16x16.png') }}" />
<link rel="manifest" href="{{url_for('.static', filename='assets/favicons/add_stuff/site.webmanifest')}}" />
{% endblock %}
{% block title %}
Add A Faculty
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
           
            
            <h1 class="text-center mt-5">Add Faculty</h1>
            <form action="" method="POST">
                <input type="text" name="faculty" class="form-control">
                <input type="submit" value="Add faculty" class="btn btn-info mt-2">
            </form>
            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}
