<!DOCTYPE html>
{% extends 'base.html' %}
{% block favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('.static', filename='assets/favicons/order_history/apple-touch-icon.png')}}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('.static',filename='assets/favicons/order_history/favicon-32x32.png') }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('.static',filename='assets/favicons/order_history/favicon-16x16.png') }}" />
<link rel="manifest" href="{{url_for('.static', filename='assets/favicons/order_history/site.webmanifest')}}" />
{% endblock %}
{% block title %}
Your Order History
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>Order History</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Invoice ID</th>
                    <th>Status</th>
                    <th>Details</th>
                    <th>Date Order</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ invoice.invoice }}</td>
                    <td>{{ invoice.status }}</td>
                    <td>
                        <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft-{{ invoice.id }}" aria-controls="offcanvasLeft-{{ invoice.id }}">
                            View Invoice
                        </button>

                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasLeft-{{ invoice.id }}" aria-labelledby="offcanvasLeftLabel-{{ invoice.id }}">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasLeftLabel-{{ invoice.id }}">Invoice {{ invoice.invoice }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Book</th>
                                            <th>Quantity</th>
                                            <th>Price(RM)</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in invoice.items %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.book.name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ '%.2f' %item.price }}</td>
                                            <td>
                                                <a href="{{ url_for('views.rate', book_id=item.book.id, invoice_id=invoice.id) }}" class="btn btn-danger btn-sm">Rate</a>
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <hr>
                                <h5>Total Price: RM {{ '%.2f' %invoice.total_price }}</h5>
                            </div>
                        </div>
                    </td>
                    <td>{{ invoice.date_order }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
