<!DOCTYPE html>
{% extends 'base.html' %}
{% block favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('.static', filename='assets/favicons/payment/apple-touch-icon.png')}}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('.static',filename='assets/favicons/payment/favicon-32x32.png') }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('.static',filename='assets/favicons/payment/favicon-16x16.png') }}" />
<link rel="manifest" href="{{url_for('.static', filename='assets/favicons/payment/site.webmanifest')}}" />
{% endblock %}
{% block title %}
Payment
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">Please Pay at Counter</h1>
                    <hr>
                    <h3 class="text-center">Location:</h3>
                    <p class="text-center">MMU Student Service Centre</p>
                    <p class="text-center">Multimedia University</p>
                    <p class="text-center">Ground Floor, STC Building</p>
                    <p class="text-center">Multimedia University</p>
                    <p class="text-center">63100 Cyberjaya, Malaysia</p>
                </div>
                
                
                <a href="{{url_for('views.order')}}" class="float-end btn btn-sm btn-warning"><h5>Order</h5></a>

                <a href="{{ url_for('views.getCart') }}" class="float-start btn btn-sm btn-secondary"><h5>Back</h5></a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
