{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">Please Pay at Counter</h1>
                    <hr>
                    <h3 class="text-center">Location:</h3>
                    <p class="text-center">MMU Student Service Centre</p>
                    <p class="text-center">Unitele Multimedia Sdn Bhd</p>
                    <p class="text-center">Ground Floor, STC Building</p>
                    <p class="text-center">Multimedia University</p>
                    <p class="text-center">63100 Cyberjaya, Malaysia</p>
                </div>
                <a href="{{url_for('views.order')}}" class="float-end btn btn-sm btn-warning"><h5>Order</h5></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
