<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Hand Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('shbooks', filename='add-and-remove_style.css') }}"> 
</head>
<body>
    <div class="header-container">
        <div class="header">
            <img src="{{ url_for('static', filename='/addRmvAsset/logo.jpg') }}" alt="Logo" class="logo">
        </div>
        <div class="title">
            <h1>Edit Book</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="{{ url_for('shbooks.testfunction', id=edit_book.id) }}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Edit Book Details</legend>
                    <div class="col-6">
                        <label for="image">Product</label>
                        <input type="file" id="image" name="image" accept=".jpg, .png"><br>
                    </div>
                    <div class="col-6">
                        <label for="name">Book name</label>
                        <input type="text" id="name" name="name" required placeholder="Enter the Book name" value="{{ edit_book.name }}"><br>
                    </div>
                    <div class="col-6">
                        <label for="price">Price</label>
                        <input type="number" id="price" name="price" required placeholder="Enter the Price" value="{{ edit_book.price }}"><br>
                    </div>
                    <div class="col-6">
                        <label for="stock">Quantity</label>
                        <input type="number" id="stock" name="stock" required placeholder="Enter the Quantity" value="{{ edit_book.stock }}"><br>
                    </div>
                    <div class="col-6">
                        <label for="faculty">Faculty</label>
                        <input type="text" id="faculty" name="faculty" required placeholder="Enter the Faculty ID" value="{{ edit_book.faculty.name }}"><br>
                    </div>
                    <div class="col-6">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" required placeholder="Enter the Subject ID" value="{{ edit_book.subject.name }}"><br>
                    </div>
                    <input type="hidden" name="id" id="editBookId" value="{{ edit_book.id }}">
                    <div class="col-6"></div>
                    <input type="submit" value="Save Changes">
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
