<!DOCTYPE html>
<html lang="en" id="shop">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Hand Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='add-and-remove_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        <nav>
            <div class="logo">
                <img src="{{ url_for('.static', filename='/addRmvAsset/logo.jpg') }}" alt="Logo" class="logo">
            </div>
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="add">Update and Remove</a></li>
                <li>
                    <a href="secondhand-books">Second-hand books ▾</a>
                    <ul class="dropdown">
                        <li><a href="#Subject">Subject</a></li>
                        <li><a href="#Faculty">Faculty</a></li>
                    </ul>
                </li>
                <li><a href="ownshop">My Shop</a></li>
            </ul>
        </nav>
    </section>
    <div id="myshop">
        <div class="title">
            <h1>My Shop</h1>
        </div>
        <div class="card"> <img class="card-img-top" src="{{ url_for('.static', filename='/addRmvAsset/user bg.jpg') }}" alt="Card image">
            <div class="card-body little-profile text-center">
                <div class="pro-img"><img src="{{ url_for('.static', filename='/addRmvAsset/portrait.jpg') }}"alt="user"></div>
                <h2 class="name">Chloe</h2>
                <p>MMU Student</p>
            </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash-messages">
              <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
              </ul>
          </div>
        {% endif %}
        {% endwith %}
        </div>
        <div id="mybook">
          <div class="title">
              <h1>My Books</h1>
              <form class="search" action="{{url_for('shbooks.searchresult')}}"> 
                <div class="row  justify-content-end">
                  <div class="col">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="x">
                  </div>
                  <div class="col">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </div>
                </div>
              </form>
          </div>
          <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Faculty</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Subject</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Edit</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">
                            <div class="p-2">
                                <img src="{{url_for('.static', filename='images/' + book.image)}}" alt="{{book.name}}" alt='' width="70" class="img-fluid rounded shadow-sm">
                                <div class="ml-3 d-inline-block align-middle">
                                    <span class="text-muted font-weight-normal font-italic book-name">{{ book.name }}</span>
                                </div>
                            </div>
                        </th>
                        <td class="border-0 align-middle book-price"><strong>{{ book.price }}</strong></td>
                        <td class="border-0 align-middle book-stock"><strong>{{ book.stock }}</strong></td>
                        <td class="border-0 align-middle book-faculty"><strong>{{ book.faculty }}</strong></td>
                        <td class="border-0 align-middle book-subject"><strong>{{ book.subject }}</strong></td>
                        <td class="border-0 align-middle"><a href="/test/{{book.id}}" class="text-dark "><i class="fa fa-edit"></i></a></td>
                        <td class="align-middle"><a href="/delete/{{book.id}}" class="text-dark"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script>
      $(document).ready(function() {
         
          var editIcons = document.querySelectorAll('.edit-book');
  
          editIcons.forEach(function(editIcon) {
            
              editIcon.addEventListener('click', function(event) {
              event.preventDefault();

               console.log("Edit icon clicked");
  
          var bookId = $(this).data('id');
          var bookImage = $(this).closest('tr').find('.book-img').attr('src');
          var bookName = $(this).closest('tr').find('.book-name').text();
          var bookPrice = $(this).closest('tr').find('.book-price strong').text();
          var bookStock = $(this).closest('tr').find('.book-stock strong').text();
          var bookFaculty = $(this).closest('tr').find('.book-faculty strong').text();
          var bookSubject = $(this).closest('tr').find('.book-subject strong').text();
          
          $('#editBookId').val(bookId);
          $('#image').attr('src', bookImage);
          $('#name').val(bookName);
          $('#price').val(bookPrice);
          $('#stock').val(bookStock);
          $('#faculty').val(bookFaculty);
          $('#subject').val(bookSubject);
  
                  $('#editModal').modal('show');
              });
          });
        });
    </script>
</body>
</html>