<!DOCTYPE html>
<html lang="en" id="shb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Hand Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add-and-remove_style.css') }}">
</head>
<body>
    <section>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='/addRmvAsset/logo.jpg') }}" alt="Logo" class="logo">
            </div>
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Update and Remove">Update and Remove</a></li>
                <li>
                    <a href="#Secondhand books">Second-hand books ▾</a>
                    <ul class="dropdown">
                        <li><a href="#Subject">Subject</a></li>
                        <li><a href="#Faculty">Faculty</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
    <div id="bookrack">
        <div class="title">
            <h1>Second-hand Books</h1>
        </div>
        <div class="thumbs">
            <a href="#target1"><img src="{{ url_for('static', filename='/addRmvAsset/book.png') }}" alt=''></a>
            <div class="secondhand_book_tag">
                <h2>Second-hand Books</h2>
                <p class="writer">John</p>
                <div class="categories">FCI, Math</div>
                <p class="book_price">RM20<sub><del>Rm25</del></sub></p>
                <a href="#" class="f_btn">Learn More</a>
            </div>
            <a href="#target2"><img src="{{ url_for('static', filename='/addRmvAsset/book1.png') }}" alt=''></a>
            <div class="secondhand_book_tag">
                <h2>Second-hand Books</h2>
                <p class="writer">John</p>
                <div class="categories">FCI, Math</div>
                <p class="book_price">RM20<sub><del>Rm25</del></sub></p>
                <a href="#" class="f_btn">Learn More</a>
            </div>
            <a href="#target3"><img src="{{ url_for('static', filename='/addRmvAsset/book2.png') }}" alt=''></a>
            <div class="secondhand_book_tag">
                <h2>Second-hand Books</h2>
                <p class="writer">John</p>
                <div class="categories">FCI, Math</div>
                <p class="book_price">RM20<sub><del>Rm25</del></sub></p>
                <a href="#" class="f_btn">Learn More</a>
            </div>
        </div>
        <!-- <div class="thumbs">
            <div class="frame">
                <img src="{{ url_for('static', filename='/addRmvAsset/book1.png') }}" alt="Logo" class="logo">
                <div class="secondhand_book_tag">
                    <h2>Second-hand Books</h2>
                    <p class="writer">John</p>
                    <div class="categories">FCI, Math</div>
                    <p class="book_price">RM20<sub><del>Rm25</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                 </div>
            </div>
        </div>
        <div class="thumbs">
            <div class="frame">
                <img src="{{ url_for('static', filename='/addRmvAsset/book2.png') }}" alt="Logo" class="logo">
                <div class="secondhand_book_tag">
                    <h2>Second-hand Books</h2>
                    <p class="writer">John</p>
                    <div class="categories">FCI, Math</div>
                    <p class="book_price">RM20<sub><del>Rm25</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                 </div>
            </div>
        </div>
        <div class="thumbs">
            <div class="frame">
                <img src="{{ url_for('static', filename='/addRmvAsset/book3.png') }}" alt="Logo" class="logo">
                <div class="secondhand_book_tag">
                    <h2>Second-hand Books</h2>
                    <p class="writer">John</p>
                    <div class="categories">FCI, Math</div>
                    <p class="book_price">RM20<sub><del>Rm25</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                 </div>
            </div>
        </div>
        <div class="thumbs">
            <div class="frame">
                <img src="{{ url_for('static', filename='/addRmvAsset/book4.png') }}" alt="Logo" class="logo">
                <div class="secondhand_book_tag">
                    <h2>Second-hand Books</h2>
                    <p class="writer">John</p>
                    <div class="categories">FCI, Math</div>
                    <p class="book_price">RM20<sub><del>Rm25</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                 </div>
            </div>
        </div> -->
    </div>
</body>
</html>