<!DOCTYPE html>

<html>

        {% extends "base.html" %}

        {%block title %}Add and Update books Information{% endblock%}

        
        {% block content %}
        
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="add and remove book" method="POST">
                    
                        <h1 class="text-center mt-5">Usename</h1>
                          <input type="Username" name="Username" class="form-control" placeholder="Enter Username">

                        <h1 class="text-center mt-5">Student ID</h1>
                          <input type="Student ID" name="Student ID" class="form-control" placeholder="Enter Student ID">

                        <h1 class="text-center mt-5">Email</h1>
                          <input type="Email" name="Email" class="form-control" placeholder="Enter Email">

                        <h1 class="text-center mt-5">Add Faculty</h1>
                          <input type="text" name="Faculty" class="form-control" placeholder="Enter Faculty">
              
                        <h1 class="text-center mt-5">Add Subject</h1>
                          <input type="text" name="Subject" class="form-control" placeholder="Enter Subject">

                        <h1 class="text-center mt-5">Quantity</h1>
                          <input type="number" name="Quantity" class="form-control" placeholder="Enter Quantity">

                        <h1 class="text-center mt-5">Price</h1>
                          <input type="Price" name="Price" class="form-control" placeholder="Enter Price">

                        <h1 class="text-center mt-5">Remark</h1>
                          <input type="text" name="Remark" class="form-control" placeholder="Enter Remark">

                          <button type="Submit" class="btn btn-primary">Submit</button>
                    </form>
   
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        
        {% endblock content %}
</html>